.navMenu {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 20px;
  background-color: lightgreen;
  font-size: 20px;
}

.navMenu a {
  text-decoration: none;
  color: black;
  border-bottom: 1px solid lightgreen;
}

.navMenu a:hover {
  border-bottom: 1px solid black;
}
